/** @format */

.contact-container {
  width: 45rem;
  height: 17rem;
  margin: 6% auto 0;
  padding: 2.5rem 1.5rem 0.6rem;

  border-radius: 20px;
  background-color: #fcfbfb;
  box-shadow: 0px 20px 40px rgba(23, 24, 23, 0.027),
    0px 20px 40px rgba(23, 24, 23, 0.082);
}
.contact-contents {
  font-family: "Poppins", sans-serif;
  padding: 0.8rem;
  .contact-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    h2 {
      margin-top: 0;
      color: rgb(25, 219, 25);
      font-weight: 600;
      font-size: 2.2rem;
      margin-bottom: 0.8rem;
    }
    img {
      position: absolute;
      right: 2.3rem;
      top: 60%;

      width: 120px;
      height: 120px;
      object-fit: cover;
      opacity: 0.5;
      mix-blend-mode: luminosity;
    }
  }

  .contact-details {
    position: relative;
    bottom: 0.5rem;
    p {
      font-size: 0.95rem;
      font-weight: 500;
    }
    p:nth-child(3) {
      margin-top: 1.5rem;
      font-size: 1.05rem;
    }
    p:nth-child(2) {
      font-size: 1rem;
      line-height: 1.5;
      width: 20rem;
      font-weight: 400;
      text-shadow: 0px 10px 10px rgba(0, 0, 0, 0.055);
    }
  }
}

// About Page

.about-container {
  width: 100%;
  padding-top: 3.5rem;

  .about-contents {
    display: flex;

    justify-content: center;
    .about-comp-img {
      width: 340px;
      height: 310px;
      display: grid;
      transition: all 0.65s ease-in-out;

      grid-gap: 0.3rem;

      .about-grid-1 {
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-radius: 10px;
        position: relative;
        bottom: 0rem;
        transition: all 0.65s ease-in-out;
        box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.212);
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.247);
          transition: all 0.4s ease-in-out;
          &:hover {
            transform: scale(1.1);
          }
        }
      }

      .about-grid-2 {
        grid-column: 2/3;
        grid-row: 1/2;
      }
      .about-grid-3 {
        grid-column: 2/3;
        grid-row: 2/3;
      }
    }
    .about-text {
      margin-left: 2rem;
      font-family: "Poppins", sans-serif;
      width: 35rem;
      position: relative;
      h2 {
        width: 95%;
        line-height: 1.15;
        color: rgb(64, 224, 64);
        font-weight: 600;
        margin-top: 0;
        font-size: 1.2rem;
      }
      p {
        position: absolute;
        right: 0;
        bottom: 1rem;
        color: rgb(5, 5, 5);
        text-align: right;
        width: 25rem;
        opacity: 0.75;
        font-size: 1rem;
        margin-top: 0;
        text-shadow: 0px 10px 20px rgba(0, 0, 0, 0.096);
      }
    }
  }
}
.error-container {
  width: 100%;
  height: 55vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0rem auto 0;
  img {
    width: 35rem;
    height: 20rem;
    object-fit: contain;
    position: relative;
    right: 0.5rem;
  }
  h5 {
    font-family: "Poppins", sans-serif;
    text-align: center;
    margin-top: 1.8rem;
    font-size: 1rem;
    padding: 0 0.5rem;
    font-weight: 400;
    letter-spacing: 0.6px;
  }
  button {
    font-family: "Poppins", sans-serif;

    width: 8rem;
    border: 0;
    outline: 0;
    border-radius: 8px;
    background: rgb(113, 221, 169);
    color: white;
    padding: 0.4rem 0.7rem;
    border: 0;
    outline: 0;
    border: 2px solid rgb(100, 232, 168);
    box-shadow: 0px 10px 20px rgba(100, 232, 168, 0.411);
    transition: all 0.45s ease-in-out;
    cursor: pointer;
    .nav-links {
      text-decoration: none;
      color: rgb(252, 252, 252);
    }
  }
}
.privacy-box {
  font-family: "Poppins", sans-serif;
  width: 45rem;
  height: 27.5rem;
  margin: 0 auto;
  padding: 1rem 2rem;
  border-radius: 20px;
  background-color: white;
  position: relative;
  box-shadow: 0px 15px 30px rgba(18, 19, 18, 0.089);
  h2 {
    text-align: center;
    margin-bottom: 0.5rem;
    font-weight: 500;
    font-size: 2rem;
    padding-bottom: 0.2rem;
    margin-top: 0.2rem;
    color: rgb(48, 72, 94);
  }

  .privacy-contents {
    width: 100%;
    height: 85%;
    overflow-y: auto;
    border-radius: 10px;
    scrollbar-width: 4px;
    h4 {
      font-weight: 600;
    }
    h5 {
      font-weight: 500;
    }

    p {
      font-size: 0.9rem;
      padding: 0 0.6rem;
      line-height: 1.7;
      font-weight: 400;
      color: rgb(68, 68, 68);
    }
    &::-webkit-scrollbar {
      width: 4px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: rgba(22, 22, 22, 0.151);
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: rgb(255, 255, 255);
      width: 10px;
      height: 5px;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  }
}
.about-mobile-text {
  display: none;
}
@media screen and (max-width: 1150px) {
  .privacy-box {
    width: 35rem;
    height: 55vh;
    padding: 1rem 1rem;
  }
  .about-container {
    .about-contents {
      .about-comp-img {
        width: 280px;
        height: 270px;
      }
      .about-text {
        width: 30rem;
        h2 {
          font-size: 1.05rem;
          word-wrap: break-word;
        }
        p {
          width: 26rem;

          font-size: 0.9rem;
        }
      }
    }
  }
}
@media screen and (max-width: 830px) {
  .error-container {
    img {
      width: 350px;
      height: 350px;
      right: 0;
    }
    h5 {
      position: relative;
      bottom: 0rem;
    }
  }
  .about-container {
    padding-top: 1.4rem;
    height: 60vh;
    display: grid;
    place-content: center;

    .about-contents {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .about-comp-img {
        width: 300px;
        height: 200px;
      }
      .about-text {
        width: 30rem;
        h2 {
          font-size: 1.5rem;
          display: none;
        }
        p {
          width: 28rem;
          position: relative;
          font-size: 0.91rem;
          text-align: left;
          left: 0;
          bottom: -1.8rem;
        }
      }
    }
  }
  .about-mobile-text {
    display: block;
    width: 30rem;
    margin: 0 auto 1rem;
    text-align: right;
    h2 {
      line-height: 1.15;
      color: rgb(25, 219, 25);
      font-weight: 600;
      margin-top: 0;
      font-size: 1.2rem;
      font-family: "Poppins", sans-serif;
      padding-right: 0.5rem;
    }
  }
  .privacy-box {
    width: 90%;
    padding: 1rem 1.1rem;
    height: 70vh;
    h2 {
      font-size: 1.8rem;
      margin-bottom: 0;
    }
    .privacy-contents {
      height: 80%;
    }
  }
}
@media screen and (max-width: 500px) {
  .error-container {
    img {
      width: 280px;
      height: 250px;
    }
    h5 {
      bottom: 1rem;
      font-size: 0.95rem;
      padding: 0 2rem;
      margin-bottom: 0;
    }
  }
  .privacy-box {
    margin-top: 1rem;
    width: 90%;
    height: 70vh;
    padding: 1rem 0.6rem;
    position: relative;
    bottom: 0.25rem;
    h2 {
      margin-bottom: 0.6rem;
      font-weight: 500;
      font-size: 1.55rem;
    }
    .privacy-contents {
      height: 85%;
      p {
        font-size: 0.85rem;
      }
    }
  }
  .about-mobile-text {
    width: 92%;
    margin: 0 auto 0.6rem;
    text-align: right;
    h2 {
      line-height: 1.15;
      font-size: 1rem;
    }
  }
  .about-container {
    padding-top: 0;
    height: 65vh;
    .about-contents {
      .about-text {
        width: 90%;
        margin-left: 0;
        h2 {
          font-size: 1.5rem;
          display: none;
        }
        p {
          position: relative;
          width: 100%;
          font-weight: 400;
          font-size: 0.9rem;
          text-align: left;
          left: 0;
          bottom: -2rem;
        }
      }
    }
  }
}
@media screen and (max-width: 350px) {
  .about-mobile-text h2 {
    line-height: 1.15;
    font-size: 0.7rem;
  }
}
@media screen and (max-width: 1140px) {
  .contact-container {
    width: 35rem;
  }
}
@media screen and (max-width: 720px) {
  .contact-container {
    width: 85%;
  }
  .contact-contents {
    .contact-header {
      img {
        width: 100px;
        height: 100px;
        right: 1rem;
      }
    }
    .contact-details {
      p {
        font-size: 0.9rem;
      }
      p:nth-child(2) {
        width: 15rem;
      }
    }
  }
}
@media screen and (max-width: 500px) {
  .contact-container {
    margin-top: 4rem;
    width: 85%;

    min-height: 21rem;
    padding: 0.5rem 0.8rem;
    box-shadow: 0px 15px 40px rgba(23, 24, 23, 0.027),
      0px 15x 40px rgba(23, 24, 23, 0.034);
  }
  .contact-contents {
    .contact-header {
      h2 {
        font-size: 1.8rem;
        margin-top: 6.8rem;
        margin-bottom: 0.4rem;
      }
      img {
        position: absolute;
        width: 80px;
        height: 80px;
        top: 0;
        left: 0;
      }
    }
    .contact-details {
      p {
        font-size: 0.89rem;
      }
      p:nth-child(2) {
        width: 15rem;
      }
    }
  }
}
